.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.overview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin: auto;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.card h4 {
    margin-bottom: 10px;
    color: #6c757d;
    font-size: 18px;
}

.card p {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.card span {
    color: #28a745;
    font-size: 12px;
}

.sales-overview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-top: 0px;
}

.recent-sales,
.chart-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

@media (max-width: 800px) {
    .dashboard {
        padding-bottom: 60px;
    }

    .overview {
        flex-direction: column;
        width: 90%;
    }

    .sales-overview {
        flex-direction: column !important;
    }

    .card {
        width: 100%;
    }

    .chart-container {
        max-width: 100%;
    }

    .chart-container {
        padding: 0px;
        border-radius: 0px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0);
    }

    .notifications,
    .best-selling {
        flex: none;
    }

    .best-selling {
        width: 100%;
        padding: 20px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0);
    }

    .best-selling .progress-info {
        width: 150px;
    }

    .recent-sales th,
    .recent-sales td {
        text-align: left;
        padding: 10px 10px 10px 0;
    }
}