.leiaut {
    width: 100%;
    margin: auto;
    height: auto;
    position: relative;
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Certifique-se de que está do tamanho do gráfico */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo levemente opaco */
    z-index: 10;
  }
  