.leiaut {
    padding-top: 70px;
}

.box-leiaut {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.b2 {
    margin: 0 0 0 10px;
}


.b2 {
    width: 100%;
    min-width: 300px;
}

@media(max-width:800px) {
    .box-leiaut {
        flex-direction: column;
    }



    .leiaut-b1 {
        display: flex;
        flex-direction: column-reverse;
    }
}